.container {
    display: flex;
    flex-direction: row;
    background-color: rgba(86, 80, 80, 0.6);
    border: 1px solid hsl(0, 0%, 80%);
    padding: 1.25rem; /* 20px / 16px = 1.25rem */
    margin-left: 5.9375rem; 
    margin-right: 5.9375rem; 
    border-radius: 0.9375rem; /* 15px / 16px = 0.9375rem */
    transition: background-color 0.3s ease-in-out; /* Add transition for smooth effect */
    min-width: 600px;
    margin-bottom: 0.95rem;
    /* overflow:scroll; */
  }
  
  .container:hover {
    background-color: rgba(44, 46, 44, 0.564); /* Adjust the opacity of the background on hover */
  }
  
  .todoname,
  .tododate {
    /* margin: 0px 9.75rem; */
    margin: auto;
  
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(214, 208, 208);
    padding: 0.3125rem; /* 5px / 16px = 0.3125rem */
    border-radius: 0.5rem; /* 8px / 16px = 0.5rem */
    font-size: 1.875rem; /* 30px / 16px = 1.875rem */
    font-family: monospace;
  }
  